<div class="container">
    <div class="inputContainer">
      <mat-form-field class="input">
        <input matInput placeholder="Cerca" type="text" [(ngModel)]="value" />
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <div class="addContainer">
        <button routerLink="/" mat-button>Add</button>
      </div>
    </div>
    <ul>
      <div>
        <div id="ozi" class="cardContainer">
          <li *ngFor="let spec of tipoPiatto; let i = index">
            <mat-card class="card">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{ spec.title }}</mat-card-title>
                <mat-card-subtitle>{{ spec.tipe }}</mat-card-subtitle>
              </mat-card-header>
              <img
                class="img"
                mat-card-image
                src="{{ spec.image }}"
                alt="recipe pic"
              />
              <div class="text">
                <mat-card-content>
                  <p><span>Difficoltà:</span> {{ spec.difficolta }}</p>
                  <p><span>Valutazione:</span> {{ spec.valutazione }}</p>
                </mat-card-content>
              </div>
              <mat-card-actions>
                <!-- <button class="btn" routerLink="/login" mat-button>
            Back
          </button> -->
                <div class="buttonContainer">
                  <button class="btn" [routerLink]="['/pdp', spec.id]" mat-button>
                    Dettaglio
                  </button>
                  <!-- <button class="btn" routerLink="/" mat-button>Back</button> -->
                  <div *ngIf="isLogged">
                    <button id="editBtn" class="btn" mat-button>Edit</button>
                  </div>
                  <div *ngIf="isLogged">
                    <button
                      id="deleteBtn"
                      (click)="tipoPiatto.splice(i, 1)"
                      class="btn"
                      mat-button
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </mat-card-actions>
            </mat-card>
          </li>
        </div>
      </div>
    </ul>
    <button mat-button routerLink="/" class="btnBack">Back</button>
  </div>
