<form>
  <div class="container">
    <div class="container2">
      <mat-form-field>
        <p>Titolo:</p>
        <input
          type="text"
          matInput
          placeholder="Titolo"
          required
          [(ngModel)]="this.ricettaObj.titolo"
          name="titolo"
        />
      </mat-form-field>
    </div>
    <div class="container2">
      <mat-form-field>
        <p>Preparazione:</p>
        <input
          type="text"
          matInput
          placeholder="Preparazione"
          required
          [(ngModel)]="this.ricettaObj.preparazione"
          name="preparazione"
        />
      </mat-form-field>
    </div>
    <div id="imageContainer" class="container2">
        <p>Immagine:</p>
        <input
          type="file"
          (change)="onChange($event)"
          placeholder="Immagine"
          required
          [(ngModel)]="this.ricettaObj.categoria.categoria"
          name="preparazione"
        />
    </div>
    <div class="container2">
      <mat-form-field>
        <p>Categoria:</p>
        <mat-label>Seleziona:</mat-label>
        <select class="dropdown" matNativeControl [disabled]="disableSelect.value">
          <option value=""></option>
          <option [value]="this.ricettaObj.categoria.id">Primo</option>
          <option [value]="this.ricettaObj.categoria.id">Secondo</option>
          <option [value]="this.ricettaObj.categoria.id">Dolce</option>
        </select>
      </mat-form-field>
    </div>
    <div class="container2">
      <mat-form-field>
        <p>Ingredienti:</p>
        <input
          class="text"
          type="text"
          matInput
          placeholder="Ingredienti"
          required
          [(ngModel)]="this.ricettaObj.ingredienti"
          name="ingredienti"
        />
      </mat-form-field>
    </div>

    <div class="container2">
      <mat-form-field>
        <p>Quantità Persone:</p>
        <input
          type="text"
          placeholder="Quantità persone"
          [(ngModel)]="this.ricettaObj.quantitaPersone"
          name="quantitaPersone"
        />
        <div class="btn">
          <button mat-button routerLink="/" color="primary">Back</button>
          <button (click)="aggiungiRicetta()" mat-button color="primary">
            Aggiungi Ricetta
          </button>
        </div>
      </mat-form-field>
    </div>
  </div>
</form>
<div>
  <img src="myImage" alt="">
</div>
