<div class="container">
  <div class="img"></div>
  <div class="info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cumque
      doloremque ullam nobis rerum consequatur amet quaerat, tempora, fugit
      dicta excepturi officiis asperiores perspiciatis illum perferendis!
      Numquam doloribus asperiores quia iure odio? Rem unde possimus
      reprehenderit sunt adipisci at perspiciatis illum voluptatibus
      exercitationem quae consequuntur quam esse similique libero animi
      laudantium autem amet, enim mollitia cum reiciendis nisi commodi. Expedita
      sunt voluptatibus quis harum cumque vero incidunt animi delectus quod
      similique sint adipisci quo a eaque omnis neque velit quaerat aspernatur
      ipsum, minima iusto. Voluptatibus numquam ipsa laboriosam, ducimus neque
      exercitationem ut totam eum quaerat suscipit a odit ipsum cupiditate!
    </p>
    <mat-card-actions>
      <button class="btn" routerLink="/" mat-button>Back</button>
    </mat-card-actions>
  </div>
</div>
