/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info > ul > li {
  list-style: none;
}

.img {
  margin-right: 100px;
  width: 300px;
  height: 500px;
}

.info {
  width: 500px;
  height: 300px;
  font-size: 20px;
}

.btn {
  background-color: rgb(64, 101, 133);
  color: aliceblue;
} */

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/1081422898/it/foto/anatra-fritta-in-padella.jpg?s=2048x2048&w=is&k=20&c=4qKbocpCjpv__a1K_lVJuismTk1uzN1ntI0GDAmWOak=");
  background-size: cover;
}

.imageContainer {
  background-color: rgba(64, 101, 133, 0.918);
  border-radius: 4%;
}

.imageContainer > img {
  width: 500px;
  padding: 50px;
}

.infoContainer {
  margin: -10px
}

.description {
  width: 600px;
  background-color: rgba(64, 101, 133, 0.873);
  color: aliceblue;
  border-radius: 4%;
}

.description > p {
  font-size: large;
  font-style: italic;
  padding: 10px;
}

.description > h2 {
  font-size: large;
  font-style: italic;
  padding-left: 10px;
  padding-top: 20px;
}

.description > h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:hover{
  transition: all 0.4s ease-in-out;
  background: aliceblue;
  box-shadow: 0 0 20px 5px rgb(64, 101, 133);
  color: rgb(64, 101, 133);
}

#edit:hover{
  background: aliceblue;
  box-shadow: 0 0 20px 5px rgba(174, 174, 25, 0.904);
  color: rgba(174, 174, 25, 0.904);
}

#delete:hover{
  background: aliceblue;
  box-shadow: 0 0 20px 5px  rgba(166, 20, 20, 0.915);
  color: rgba(166, 20, 20, 0.915);
}

.btn {
  color: aliceblue;
  background-color: rgba(64, 101, 133, 0.944);
  margin: 10px
}

#edit {
  background-color: rgba(226, 192, 21, 0.921);
}

#delete {
  background-color: rgba(185, 13, 13, 0.937);
}
