

<div class="container">
  <div class="imageContainer">
    <img src="{{recipeData.image}}" alt="">
  </div>
  <div class="infoContainer">
    <div class="description">
      <h2>{{recipeData.titolo}}</h2>
      <p>Ingredienti: {{recipeData.ingredienti}}</p>
      <p>Quantità per {{recipeData.quantitaPersone}} persona/e</p>
      <p>Svolgimento: {{recipeData.preparazione}}</p>
    </div>
    <div class="btnContainer">
      <button class="btn" routerLink="/" mat-button>Back</button>
      <button *ngIf="loginService.isAdmin === true" id="edit" class="btn" routerLink="/edit/{{recipeData.id}}" mat-button>Modifica</button>
      <button *ngIf="loginService.isAdmin === true" (click)="openDialog()" id="delete" class="btn" mat-button>Elimina</button>
    </div>
  </div>
</div>






<!-- <mat-card-actions>
      
    </mat-card-actions> -->