
  <div class="container">
    <mat-form-field>
      <p>Enter your email:</p>
      <input matInput placeholder="email@email.com" required />
    </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field>
      <p>Enter your password:</p>
      <input type="password" placeholder="password"/>
      <div class="btn">
        <button mat-button color="primary">
            <a routerLink="/list" routerLinkActive="router-link-active">submit</a>
        </button>
      </div>
      
    </mat-form-field>
  </div>

