<div class="container">
  <div class="navbar">
    <div>
      <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE8cU-55IysH6QYTcjQ3qC1cFurODvSacV5Gcgy_hA8Q&s" alt="">
      <div *ngIf="!isLogged else notLogged">
        <button routerLink="/login" class="btn" mat-button>Log-In</button>
      </div>
      <div >
        <ng-template #notLogged>
          <button class="btn" mat-button>Log-Out</button>
        </ng-template>
      </div>
      <button routerLink="/" class="btn" mat-button>Home</button>
    </div>
  </div>
</div>
