.navbar {
    height: 90px;
    width: auto;
    background-color: rgb(64, 101, 133);
}

.navbar > div {
    padding-right: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    margin-right: 20px;
    background-color: aliceblue;
    text-decoration: none;
    color: rgb(64, 101, 133);
}

.img {
    position: absolute;
    top: 1px;
    right: 650px;
    color: aliceblue;
    width: 250px;
}