<div class="container">
  <div class="inputContainer">
    <mat-form-field class="input">
    <input matInput placeholder="Cerca" type="text" [(ngModel)]="value" />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  </div>
  <div class="listContainer">
    <ul>
      <li *ngFor="let card of mockCard">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.tipe }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://media.istockphoto.com/id/1081422898/it/foto/anatra-fritta-in-padella.jpg?s=2048x2048&w=is&k=20&c=4qKbocpCjpv__a1K_lVJuismTk1uzN1ntI0GDAmWOak="
            alt="recipe pic"
          />
          <mat-card-content>
            <p><span>Descrizione:</span> {{ card.description }}</p>
            <p><span>Procedimento:</span> {{ card.cocking }}</p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button class="btn" routerLink="/login" mat-button>
        Back
      </button> -->
            <button class="btn" routerLink="/pdp" mat-button>View More</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
