.container {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://media.istockphoto.com/id/1081422898/it/foto/anatra-fritta-in-padella.jpg?s=2048x2048&w=is&k=20&c=4qKbocpCjpv__a1K_lVJuismTk1uzN1ntI0GDAmWOak=");
  background-size:auto
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1500px;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.text {
  width: 300px;
  color: aliceblue;
  border-bottom: none;
}

.img {
  height: 200px;
}

.cardContainer > ul > li {
  list-style-type: none;
}


.card {
  max-width: 300px;
  margin: 10px;
  background-color: rgba(64, 101, 133, 0.812);
  color: aliceblue;
}

.input {
  width: 400px;
  margin-top: 10px;
}

.image{
  max-width: 250px;
}

.header-image {
  background-image: url("https://yt3.googleusercontent.com/jOXpwaAw_5kOooNikWmuHiNC2buSdgeuZTkPJpxTFdrVZE8AQegxus3hQNLnoqP4iT4hZoGj=s900-c-k-c0x00ffffff-no-rj");
  background-size: cover;
}

.btn {
  margin: 10px;
  background-color: rgb(64, 101, 133);
  color: aliceblue;
}

.searchButton {
  height: 57px;
  width: 100px;
  background-color: rgb(64, 101, 133);
  color: aliceblue;
}

#editBtn {
  background-color: rgba(174, 174, 25, 0.904);
}

#deleteBtn{
  background-color: rgba(166, 20, 20, 0.915);
}

.pagination {
  background-color: rgba(153, 170, 187, 0.721);
}

#add {
  position: absolute;
  top: 100px;
  right: 100px;
}
