<div class="container">
  <div class="inputContainer">
    <mat-form-field class="input">
      <input matInput placeholder="Cerca" type="text" [(ngModel)]="value" />
      @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  <ul>
    <div id="ozi" class="cardContainer">
      <li *ngFor="let card of mockCard; let i = index">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.tipe }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ card.image }}" alt="recipe pic" />
          <div class="text">
            <mat-card-content>
              <p><span>Difficoltà:</span> {{ card.difficolta }}</p>
              <p><span>Valutazione:</span> {{ card.valutazione }}</p>
            </mat-card-content>
          </div>
          <mat-card-actions>
            <!-- <button class="btn" routerLink="/login" mat-button>
        Back
      </button> -->
            <button class="btn" [routerLink]="['/pdp', card.id]" mat-button>
              View More
            </button>
            <div *ngIf="isLogged">
              <button class="btn" mat-button>
                Edit
              </button>
            </div>
            <div *ngIf="isLogged">
              <button (click)="mockCard.splice(i, 1)" class="btn" mat-button>Delete</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </li>
    </div>
  </ul>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
